// VARIABLES
$primary-color: blueviolet;
$font: "Poppins";
$background-color: lightgrey;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100;200;400&family=Roboto:wght@100;300&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: $font;

nav{
 position: relative;
  height: 80px;
  width: 100%;
  background-color: $background-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .brandname {
    margin-left: 50px;
    font-size: 1.3em;
    font-weight: 700;
  
    a {
     text-decoration: none;
     color: grey;
  
     span {
      color: $primary-color;
     }
    }
   }
   ul{
    position: relative;
    display: flex;
    list-style: none;
    margin-right: 50px;

    li{
     margin-left: 40px;
     margin-top: 10px;

     a{
      text-decoration: none;
      color: grey;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 700;

      &:hover{
       color: black;
       text-decoration: none;
      }
     }
    }

    #transport{
     background-color: $background-color;
     padding: 15px;
     width: 50%;
     position: absolute;
     top: 50px;
     display: none;
     text-align: center;
     z-index: 100;

     li{
      margin-left: 0;
     }
    }
   }
   .icon-1{
    display: none;
   }
   .icon-2{
    display: none;
   }
}
.hero{
 background: linear-gradient(rgba(0,0,0,0.70), rgba(0, 0, 0, 0.70)), url(./assets/asset5.jpg) center/cover;
 width: 100%;
 height: 90vh;
 position: relative;
 

}

@media only screen and (max-width:700px) {
 nav {
  .brandname {
   margin-left: 30px;
  }

  ul {
   position: absolute;
   background-color: $background-color;
   width: 100%;
   text-align: right;
   top: 80px;
   display: none;
   z-index: 100;

   li {
    margin: 10px;
    padding: 10px;

    &:hover{
     background-color: $primary-color;
    }
    a{
     color: grey;
     &:hover{
      color: #fff;
     }
    }
   }

   ul {
    position: absolute;
    background-color: $background-color;
    right: 200px;
    top: 40px;
    left: 0;
    width: 70%;
    display: none;

    li{

     a{
      color: grey;
     }
    }
   }
  }

  .icon-1 {
   margin-right: 30px;
   color: grey;
   display: block;
  }

  .icon-2 {
   display: none;
   margin-right: 30px;
   color: grey;
  }

 }
}



}
