@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100;200;400&family=Roboto:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background-color: #345995;
}

body nav {
  position: relative;
  height: 80px;
  width: 100%;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #345995;
  z-index: 50;
}

body nav .brandname a {
  color: #fff;
  font-size: 1.5em;
  font-weight: 900;
}

body nav .brandname a span {
  color: #000;
}

body nav .brandname a:hover {
  text-decoration: none;
}

body nav #navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body nav #navLinks li {
  margin-left: 30px;
  list-style: none;
}

body nav #navLinks li a {
  font-weight: bold;
  color: #fff;
}

body nav #navLinks li a:hover {
  text-decoration: none;
}

body nav #navLinks .sub-menu {
  position: absolute;
  display: none;
  text-align: center;
  top: 60px;
  right: 270px;
  color: #fff;
  background-color: #345995;
  padding: 10px 20px;
  z-index: 50;
}

body nav .icon-1, body nav .icon-2 {
  display: none;
}

body .hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
  padding: 20px 100px;
  z-index: 10;
  overflow: hidden;
}

body .hero .instruction h3 {
  color: #345995;
  font-weight: bold;
}

body .hero .instruction .booking {
  color: #345995;
  font-size: 1.4em;
}

body .hero .instruction .booking:hover {
  text-decoration: none;
  color: #fff;
  background-color: #345995;
  padding: 10px 25px;
  border-radius: 5px;
}

body .hero .center-div {
  margin-top: 40px;
  height: 500px;
  padding: 20px 0;
}

body .hero .center-div .option-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

body .hero .center-div .option-list a {
  color: #fff;
  margin: 20px 10px 20px 0;
  background-color: #345995;
  padding: 10px 25px;
  border-radius: 5px;
}

body .hero .center-div .option-list a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #000;
}

body .hero .center-div .form {
  margin-top: 20px;
}

body .hero .center-div .form .removepad {
  min-height: 250px;
  padding: 0;
}

body .hero .center-div .form .removepad .destination {
  margin-bottom: 10px;
}

body .hero .center-div .form .removepad .date {
  margin-bottom: 10px;
}

body .hero .center-div .form .removepad .cta {
  background-color: #345995;
  color: #fff;
}

body .hero .center-div .form .removepad .flexible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .hero .center-div .form .removepad .flexible a {
  color: #345995;
  margin-left: 10px;
  font-weight: bold;
}

body .hero .center-div .form .removepad .flexible a:hover {
  text-decoration: none;
}

body .hero .center-div .form .removepad .flexible .checkbox {
  width: 20px;
  height: 20px;
}

body .hero .center-div .form .from-where, body .hero .center-div .form .to-where {
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
}

body .hero .center-div .form .from-where:focus, body .hero .center-div .form .to-where:focus {
  outline: 1px solid #345995;
}

body .hero .center-div .form .date-input, body .hero .center-div .form .cta {
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
}

body .hero .center-div .form .date-input:focus, body .hero .center-div .form .cta:focus {
  outline: 1px solid #345995;
}

body .hero .center-div .img-container {
  height: auto;
}

body .hero .center-div .img-container .right-banner {
  height: 600px;
  margin-top: -170px;
  margin-left: -120px;
}

@media only screen and (max-width: 600px) {
  body nav {
    padding: 0 30px;
  }
  body nav #navLinks {
    position: absolute;
    display: none;
    top: 80px;
    right: 0;
    padding: 0 20px;
    text-align: right;
    background-color: #345995;
    width: 50%;
  }
  body nav #navLinks li {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
  }
  body nav #navLinks li:hover {
    background-color: #3066BE;
  }
  body nav #navLinks li a {
    color: #fff;
  }
  body nav .icon-1 {
    display: block;
    color: #fff;
  }
  body nav .icon-2 {
    display: none;
    color: #fff;
  }
  body .hero {
    padding: 30px;
    width: 100%;
    overflow: hidden;
  }
  body .hero .instruction {
    margin-top: -20px;
  }
  body .hero .instruction h3 {
    font-size: 1.4em;
  }
  body .hero .right-banner {
    display: none;
  }
}

.col-md-6, .col-md-12 {
  padding-left: 0px !important;
}
/*# sourceMappingURL=main.css.map */