// FONTS
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100;200;400&family=Roboto:wght@100;300&display=swap');

// VARIABLES
$fonts: "Poppins";

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

 body {
   font-family: $fonts;
   background-color: #345995;

   nav{
    position: relative;
    height: 80px;
    width: 100%;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #345995;
    z-index: 50;

    .brandname{
     a{
      color: #fff;
      font-size: 1.5em;
      font-weight: 900;

      span{
       color: #000;
      }
      &:hover{
       text-decoration: none;
      }
     }
    }
    #navLinks{
     display: flex;
     li{
      margin-left: 30px;
      list-style: none;
      

      a{
        font-weight: bold;
        color: #fff;
       &:hover{
        text-decoration: none;
        // color: #fff;
       }
      }

     }

     .sub-menu{
      position: absolute;
      display: none;
      text-align: center;
      top: 60px;
      right: 270px;
      color: #fff;
      background-color: #345995;
      padding: 10px 20px;
      z-index: 50;
     }
    }
    .icon-1, .icon-2{
     display: none;
    }
   }
   .hero{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    padding: 20px 100px;
    z-index: 10;
    overflow: hidden;

    .instruction{
     h3{
      color: #345995;
      font-weight: bold;
     }
     .booking{
      color: #345995;
      font-size: 1.4em;

      &:hover{
       text-decoration: none;
       color: #fff;
       background-color: #345995;
       padding: 10px 25px;
       border-radius: 5px;
      }
     }
    }
    .center-div{
     margin-top: 40px;
     height: 500px;
     padding: 20px 0;

     .option-list{
      display: flex;
      list-style: none;

      a{
       color: #fff;
       margin: 20px 10px 20px 0;
       background-color: #345995;
       padding: 10px 25px;
       border-radius: 5px;
      
       &:hover{
        text-decoration: none;
        color: #fff;
        background-color: #000;
       }
      }
     }
     .form{
      margin-top: 20px;

    .removepad{
      min-height: 250px;
      padding: 0;
       
      .destination{
       margin-bottom: 10px;
      }
      .date{
       margin-bottom: 10px;
      }
      .cta{
       background-color: #345995;
       color: #fff;
      }
            .flexible {
             display: flex;
             margin-top: 10px;
             justify-content: end;
             align-items: center;
      
             a {
              color: #345995;
              margin-left: 10px;
              font-weight: bold;
      
              &:hover {
               text-decoration: none;
              }
             }
      
             .checkbox {
              width: 20px;
              height: 20px;
             }
            }
     }
      .from-where, .to-where{
       padding: 20px;
       width: 100%;
       border-radius: 5px;
       border: none;
       outline: none;

       &:focus{
        outline: 1px solid #345995;
       }
      }
      .date-input, .cta {
       padding: 20px;
       width: 100%;
       border-radius: 5px;
       border: none;
       outline: none;
      &:focus {
          outline: 1px solid #345995;
        }
      }
     }
          .img-container {
           height: auto;

           .right-banner{
            height: 600px;
            margin-top: -170px;
            margin-left: -120px;
           }
     
          }
     
    }
   }
   @media only screen and (max-width: 600px) {
    nav{
     padding: 0 30px;

     #navLinks{
      position: absolute;
      display: none;
      top: 80px;
      right: 0;
      padding: 0 20px;
      text-align: right;
      background-color: #345995;
      width: 50%;

      li {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 10px;
        &:hover{
          background-color: #3066BE;
        }
        a{
         color: #fff;
        }
       }
      //  #transport{
      //   width: 100%;
      //   position: absolute;
      //   right: 200px;
      //   top: 0;
      //  }
     }
    .icon-1{
     display: block;
     color: #fff;
    }
    .icon-2{
     display: none;
     color: #fff;
    }
    }
    .hero{
     padding: 30px;
     width: 100%;
     overflow: hidden;

     .instruction{
      margin-top: -20px;
      h3{
       font-size: 1.4em;
      }
     }
     .right-banner{
      display: none;
     }
    }
   }
  }

  .col-md-6, .col-md-12{
padding-left: 0px !important;
   }